<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/moj.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Manifestacija.rs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                   
                    @if (Session["admin"] != null)
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>

                    }
                    else if (Session["prodavac"] != null)
                    {
                        <li>@Html.ActionLink("Prodavac", "Index", "Prodavac")</li>

                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["korisnik"] == null)
                    {
                        <li>@Html.ActionLink("Register", "Index", "Registracija")</li>
                        <li>@Html.ActionLink("Login", "Index", "Logovanje")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Profile", "Index", "Profil")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Logovanje")</li>
                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
      
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
